/* основной цвет текста #757575 */
/* вторичный цвет текста #212121 */
/* цвет фона #FFFFFF */
/* цвет акцент #2196F3 */
/* вторичный цвет фона #F5F4FA */

body {
  color: var(--primary-text-color);
  background-color: var(--primary-bgc-color);
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.88;
  letter-spacing: 0.48px;
}

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-bgc-color: #ffffff;
  --bgc-text-color: #f5f4fa;
  --accent-border-color: #ececec;
}

.list {
  list-style: none;
  text-decoration: none;
}

.link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

img {
  display: block;
}

a {
  list-style: none;
  text-decoration: none;
}

address {
  font-style: normal;
}

.container {
  width: 1200px;
  min-height: 80px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* Xедер */

.header {
  border-bottom: 1px solid var(--accent-border-color);
}

.header .logo {
  margin-right: 93px;

  color: var(--title-text-color);
  font-family: Raleway, sans-serif;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.78px;
  text-decoration: none;
}
.header .accent {
  color: var(--accent-color);
}

.header .link {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
  text-decoration: none;
}

/* Навигация сайта */

.header__container {
  display: flex;
  align-items: center;
}

.header__nav {
  display: flex;
}

.site-nav {
  display: flex;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
}

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.site-nav .link {
  padding: 25px 0px;
  color: var(--title-text-color);
}

.site-nav .link.current {
  position: relative;
  color: var(--accent-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current::before {
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;

  background-color: var(--accent-color);
}

/* Контакт с нами */

.header__contacts {
  display: flex;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: auto;
  padding-left: 0px;

  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
}

.header-contacts .item:not(:last-child) {
  margin-right: 30px;
}

.contact-list {
  display: flex;
  padding: 25px 0px;
  align-items: center;

  text-decoration: none;

  color: var(--primary-text-color);
  fill: var(--primary-text-color);
}

.contact-list:hover,
.contact-list:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.header-contacts .logo-icon {
  margin-right: 10px;
}

/* button */

button {
  display: inline-block;
  border-radius: 4px;
  padding: 6px 22px;
  border: none;

  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.48px;
  text-decoration: none;

  color: var(--title-text-color);
  background-color: var(--bgc-text-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

button:hover,
button:focus {
  color: var(--primary-bgc-color);
  background-color: var(--accent-color);
}
button {
  cursor: pointer;
}

/* Filter */

.filter {
  display: flex;
  margin-top: 0px;
  margin-bottom: 50px;
  padding-left: 0px;
  justify-content: center;
}

/* Заголовки */

h1 {
  margin-top: 0px;
  margin-bottom: 0px;

  text-align: center;
}
.title {
  color: var(--title-text-color);
}

/* Portfolio */

.portfolio {
  margin-top: 0px;
  margin-bottom: 94px;
}

.portfolio-thumb {
  position: relative;
  display: block;
  overflow: hidden;
}

.portfolio-overlay {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  background-color: rgba(33, 150, 243, 0.9);
}

.portfolio-link:hover .portfolio-overlay {
  transform: translateY(0);
}

.card-text {
  position: absolute;
  top: 63px;
  bottom: 63px;
  left: 24px;
  right: 24px;

  color: var(--primary-bgc-color);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0px;
  padding-left: 0px;
  padding-inline-start: 0px;
}

.portfolio-list .item {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
}

.portfolio-list .item {
  margin-bottom: 30px;
}

.portfolio-list .item:nth-child(3n) {
  margin-right: 0px;
}

.portfolio-list .item:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.portfolio .title {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 1.08px;

  margin-top: 20px;
  margin-bottom: 4px;
}

.portfolio .text {
  margin-top: 0px;
  margin-bottom: 20px;

  color: var(--primary-text-color);
}

.portfolio .portfolio-card {
  list-style: none;
  text-decoration: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio .portfolio-link {
  text-decoration: none;
}

.portfolio .portfolio-card:hover,
.portfolio .portfolio-card:focus {
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
    0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

/* Футер */

.footer {
  background-color: #2f303a;
}

.footer-box {
  display: flex;
  align-items: center;
}

.footer-contacts {
  margin-top: 60px;
  margin-bottom: 60px;
  margin-right: 65px;
  padding-inline-start: 0px;

  list-style: none;
}

.footer-contacts .logo {
  display: block;
  margin-bottom: 20px;

  color: var(--primary-bgc-color);
  font-family: Raleway, sans-serif;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.78px;
}

.footer .accent {
  color: var(--accent-color);
}

.footer .address {
  color: var(--primary-bgc-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
}

.footer .contact-list {
  padding: 0;

  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer .title {
  color: var(--primary-bgc-color);
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  list-style: none;
}

.footer .join {
  margin-right: 93px;
}

.footer .link {
  list-style: none;
  text-decoration: none;
}

.footer .link:hover,
.footer .link:focus {
  color: var(--primary-bgc-color);
  background-color: var(--accent-color);
}

.social-links {
  padding-left: 0px;
}

.social-links {
  display: flex;
  width: 206px;
  padding-left: 0px;
}

.social-links .item {
  display: block;

  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

.social-links .item:not(:last-child) {
  margin-right: 10px;
}

.social-links .link {
  display: block;
  width: 44px;
  height: 44px;
  padding: 12px 12px;
  border-radius: 50%;

  list-style: none;
  text-decoration: none;
  fill: var(--primary-bgc-color);
}

.social-links .logo {
  margin-bottom: 0px;
}

.social-links .item:hover,
.social-links .item:focus {
  background-color: var(--accent-color);
  cursor: pointer;
}

.subscript-title {
  color: var(--primary-bgc-color);
}

.subscript-form {
  display: flex;
  align-items: center;
  margin-top: 20px;
  gap: 12px;
}

.subscript-email {
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  width: 358px;
  height: 50px;
  outline: transparent;

  background-color: var(--footer-bcg-color);
  color: var(--primary-bgc-color);
}

.subscript-label:focus {
}

.subscript-button {
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 28px;
  padding-right: 28px;

  border-radius: 4px;
  border: 0px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;

  color: var(--primary-bgc-color);
  background-color: var(--accent-color);
}

.subscript-icon {
  margin-left: 10px;
}
