/* основной цвет текста #757575 */
/* вторичный цвет текста #212121 */
/* цвет фона #FFFFFF */
/* цвет акцент #2196F3 */
/* вторичный цвет фона #F5F4FA */

:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --primary-bgc-color: #FFFFFF;
    --bgc-text-color: #F5F4FA;
}

.list {
    list-style: none;
    text-decoration: none;
}

body {
    color: var(--primary-text-color);
    background-color: var(--primary-bgc-color);
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.88;
    letter-spacing: 0.48px;
}

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    outline: 1px solid tomato;
}

/* Xедер */

.header .logo {
    color: var(--title-text-color);
    font-family: Raleway, sans-serif;
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 0.78px;
    text-decoration: none;
}
.header .accent {
    color: var(--accent-color);
}

.header .link {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.28px;
    text-decoration: none;
}

/* Навигация сайта */

.site-nav {
    margin-top: 0px;
    margin-bottom: 0px;
}
.site-nav .link {
    color: var(--title-text-color);
}
.site-nav .link.current {
    color: var(--accent-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}

/* Контакт с нами */

.contacts {
    margin-top: 0px;
    margin-bottom: 0px;
}
.contacts li {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.28px;
}
.contact-list {
    text-decoration: none;
}
.contact-list:hover,
.contact-list:focus {
    color: var(--accent-color);
}

/* button */

button {
    color: var(--title-text-color);
    background-color: var(--bgc-text-color);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.62;
    letter-spacing: 0.48px;
    text-decoration: none;

    display: inline-block;
    border-radius: 4px;
    padding: 6px 22px;
    border: none;
}
button:hover,
button:focus {
    color: var(--primary-bgc-color);
    background-color: var(--accent-color);
}
button {
    cursor: pointer;
}

/* Filtr */

.filter {
    margin-top: 0px;
    margin-bottom: 50px;
}

/* Заголовки */

h1 {
    margin-top: 0px;
    margin-bottom: 0px;

    text-align: center;
}
.title {
    color: var(--title-text-color);
}

/* портфолио */

.portfolio {
    margin-top: 0px;
    margin-bottom: 94px;
}
.portfolio .title {
font-size: 18px;
font-weight: 700;
line-height: 2;
letter-spacing: 1.08px;

margin-top: 20px;
margin-bottom: 4px;
}
.portfolio .text {
    margin-top: 0px;
    margin-bottom: 20px;
}
.portfolio .portfolio-card {
    list-style: none;
    text-decoration: none;
}
.portfolio .portfolio-link {
    text-decoration: none;
}

/* Футер */

.footer {
    background-color: #2F303A;
}
.footer .logo {
    color: var(--primary-bgc-color);
    font-family: Raleway, sans-serif;
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 0.78px;
    text-decoration: none;
}
.footer .accent {
    color: var(--accent-color);
}
.footer .address {
    color: var(--primary-bgc-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.42px;
}
.footer .contact-list {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.42px;
}
.footer .title {
    color: var(--primary-bgc-color);
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    list-style: none;
}

.footer .link {
    list-style: none;
    text-decoration: none;
}
.footer .link:hover,
.footer .link:focus {
    color: var(--primary-bgc-color);
    background-color: var(--accent-color);
}


