/* основной цвет текста #757575 */
/* вторичный цвет текста #212121 */
/* цвет фона #FFFFFF */
/* цвет акцент #2196F3 */
/* вторичный цвет фона #F5F4FA */

:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --primary-bgc-color: #FFFFFF;
}

body {
    background-color: var(--primary-bgc-color);
    color: var(--primary-text-color);
    font-family: roboto, sans-serif;
    letter-spacing: 0.42px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
}

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    outline: 2px solid tomato;
}

.list {
    list-style: none;

    margin-top: 0px;
    margin-bottom: 0px;
}

/*хедер */
.header .logo {
    color: var(--title-text-color);
    font-family: Raleway, sans-serif;
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 0.78px;
    text-decoration: none;
}
.header .accent {
    color: var(--accent-color);
}

/* site-nav */
.site-nav .link {
    color: var(--title-text-color);
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.28px;
    text-decoration: none;
}

.site-nav .link.current {
    color: var(--accent-color);
}


.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}

/* Наши контакты, адрес */
.contact-list:hover,
.contact-list:focus {
    color: var(--accent-color);
}
.contact-list {
    text-decoration: none;
}
.contacts li {
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 0.28px;
        text-decoration: none;

        
}
.contacts {
    margin-bottom: 0px;
}


/* hero */
.hero {
    text-align: center;

    outline: 2px solid black;

}
.hero .hero-title {
    margin-top: 0px;
    margin-bottom: 30px;

    color: var(--accent-color);
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36; 
    letter-spacing: 2.64px;
}


/* section */
.section {
    margin-bottom: 94px;
}
.title {
    color: var(--title-text-color);
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 1.08px;
    text-align: center;

    margin-top: 0px;
    margin-bottom: 50px;
}



/* feature */
.feature .feature-title {
    color: var(--title-text-color);
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;

    margin-top: 30px;
    margin-bottom: 0px;
}
.feature .text {
    margin-top: 10px;
    margin-bottom: 0px;
}
.feature {
    margin-bottom: 94px;
}

/* team */
.section .name {
    color: var(--title-text-color);
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.48px;

    margin-top: 30px;
    margin-bottom: 0px;
}

.section .job-title {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.48px;

    margin-top: 10px;
    margin-bottom: 16px;
}
.team-list a:hover,
.team-list a:focus {
    color: var(--primary-bgc-color);
    background-color: var(--accent-color);
}
.team-list a {
    text-decoration: none;
}

/* button */
.button {
    display: inline-block;
    border-radius: 4px;
    padding: 10px 32px;

    color: var(--primary-bgc-color);
    background-color: var(--accent-color);
    font-size: 16px;
    font-weight: 700;
    line-height: 1.88;
    letter-spacing: 0.96px;
    text-decoration: none;
    text-align: center;
}
/* .button:hover,
.button:focus {
    color: var(--accent-color);
    background-color: var(--primary-bgc-color);
} */

/* футер */
.footer {
    background-color: #2F303A;
}
.footer .logo {
    color: var(--primary-bgc-color);
    font-family: Raleway, sans-serif;
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 0.78px;
    text-decoration: none;
    }
.footer .accent {
    color: var(--accent-color);
}
.footer .address {
    color: var(--primary-bgc-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.42px;
}
.footer .contact {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.42px;
}
.footer .title {
    color: var(--primary-bgc-color);
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    list-style: none;
}
.footer .link:hover,
.footer .link:focus {
    color: var(--primary-bgc-color);
    background-color: var(--accent-color);
}

.social-links .link {
    list-style: none;
    text-decoration: none;
}



