/* основной цвет текста #757575 */
/* вторичный цвет текста #212121 */
/* цвет фона #FFFFFF */
/* цвет акцент #2196F3 */
/* вторичный цвет фона #F5F4FA */

body {
  background-color: var(--primary-bgc-color);
  color: var(--primary-text-color);
  font-family: roboto, sans-serif;
  letter-spacing: 0.42px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
}

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-bgc-color: #ffffff;
  --secondary-bcg-color: #f5f4fa;
  --accent-border-color: #ececec;
  --icon-color: #afb1b8;
}

.list {
  list-style: none;

  margin-top: 0px;
  margin-bottom: 0px;
}

.link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

img {
  display: block;
}

address {
  font-style: normal;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.container.main-nav {
  display: flex;
  align-items: center;
}

/*хедер */

.header {
  border-bottom: 1px solid var(--accent-border-color);
}

.header .logo {
  margin-right: 93px;

  color: var(--title-text-color);
  font-family: Raleway, sans-serif;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.78px;
  text-decoration: none;
}

.header .accent {
  color: var(--accent-color);
}

/* site-nav */

.site-nav {
  display: flex;
  padding-left: 0px;
}

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.site-nav .link {
  display: block;
  padding: 32px 0px;

  color: var(--title-text-color);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
  text-decoration: none;
}

.site-nav .link.current {
  position: relative;
  color: var(--accent-color);
}

.site-nav .link.current::before {
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;

  background-color: var(--accent-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

/* Наши контакты, адрес */

.contacts {
  display: flex;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: auto;
  padding-left: 0px;

  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
}

.contacts .item + .item {
  margin-left: 30px;
}

.contacts .contact-list {
  display: flex;
  align-items: center;
  padding: 32px 0px;

  color: var(--primary-text-color);
  fill: var(--primary-text-color);
  text-decoration: none;
}

.contact-list .icon {
  margin-right: 10px;
}

.contacts .contact-list:hover,
.contacts .contact-list:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.contact-list .icon:focus {
  fill: var(--accent-color);
}
*/ .contacts li {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
  text-decoration: none;
}

/* hero */
.hero {
  max-width: 1600px;
  min-height: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 94px;

  text-align: center;
  background-color: #2f303a;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../imeges/hero.jpg);
  background-position: center;
}

.hero-container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero .hero-title {
  margin-top: 0px;
  margin-bottom: 30px;

  color: var(--primary-bgc-color);
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 2.64px;
}

/* button */

.button {
  display: inline-block;
  border-radius: 4px;
  border: 0px;
  padding: 10px 32px;

  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.96px;
  text-decoration: none;

  color: var(--primary-bgc-color);
  background-color: var(--accent-color);

  cursor: pointer;
}

/* Backdrop */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.8);

  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.backdrop .modal {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  width: 528px;
  padding-right: 40px;
  padding-left: 40px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  border-radius: 4px;

  background-color: var(--primary-bgc-color);
}

.backdrop .button-close {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  margin-top: 8px;
  margin-right: 8px;

  border-radius: 50%;
  border-color: rgba(0, 0, 0, 0.1);

  cursor: pointer;
}

.backdrop .button-icon-close {
  width: 11px;
  height: 11px;
}

.order-service-title {
  display: block;
  margin-top: 40px;
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-text-color);
}

.order-service-list {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.order-service-label:not(:last-child) {
  margin-bottom: 10px;
}
.order-service-feedback {
  resize: none;
}

.order-service-policy {
  margin-bottom: 30px;
}

.order-service-button-send {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

.section {
  margin-bottom: 94px;
}

/* Title */

.title {
  color: var(--title-text-color);
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1.08px;
  text-align: center;

  margin-top: 0px;
  margin-bottom: 50px;
}

/* feature */
.feature {
  margin-bottom: 94px;
}

.feature .feature-title {
  color: var(--title-text-color);
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;

  margin-top: 30px;
  margin-bottom: 0px;
}
.feature .text {
  margin-top: 10px;
  margin-bottom: 0px;
}

.feature-list {
  display: flex;
  margin-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

.feature-list .item:not(:last-child) {
  margin-right: 30px;
}

.thumb {
  width: 270px;
  height: 120px;

  background-color: var(--secondary-bcg-color);
}

.feature-list .icon {
  width: 70px;
  height: 70px;
  margin-top: 25px;
  margin-right: 100px;
  margin-bottom: 25px;
  margin-left: 100px;
}
/* Work-list */

.work-list {
  display: flex;
  padding-left: 0px;
  gap: 30px;
}

.work-list .work-item {
  position: relative;
}

.work-list .work-desc {
  position: absolute;
  display: flex;
  bottom: 0;
  left: 0;
  margin: 0;
  width: 100%;
  height: 70px;
  align-items: center;
  justify-content: center;

  color: var(--primary-bgc-color);
  background: rgba(47, 48, 58, 0.8);
}

/* team */

.team {
  background-color: var(--secondary-bcg-color);
}

.team-list {
  display: flex;
  padding-left: 0px;
  padding-bottom: 94px;
}

.team-list .item {
  background-color: var(--primary-bgc-color);

  text-align: center;

  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.team-list .item.item:not(:last-child) {
  margin-right: 30px;
}

.team .title {
  padding-top: 94px;
}
.section .name {
  color: var(--title-text-color);
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.48px;

  margin-top: 30px;
  margin-bottom: 0px;
}
.section .job-title {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.48px;

  margin-top: 10px;
  margin-bottom: 16px;
}

.team-list a {
  text-decoration: none;
}

.team-list .thumb-team {
  display: flex;
  width: 206px;
  height: 44px;
  margin-top: 0px;
  margin-right: 32px;
  margin-left: 32px;
  margin-bottom: 30px;
}

.social-link {
  display: block;
  width: 44px;
  height: 44px;
  padding: 12px 12px;
  border-radius: 50%;
  fill: var(--icon-color);
}

.social-link:not(:last-child) {
  margin-right: 10px;
}

.social-link:hover,
.social-link:focus {
  background-color: var(--accent-color);
  fill: var(--primary-bgc-color);
}

.social-icon:hover,
.social-icon:focus {
  fill: var(--primary-bgc-color);
}

/* Clients */

.clients-list {
  display: flex;
  padding-left: 0px;
}

.clients-list .item {
  display: block;
  width: 170px;
  height: 92px;
}

.clients-list .link {
  display: block;
  height: 92px;
  padding: 16px 32px;
  border: 1px solid var(--icon-color);
  border-radius: 4px;

  color: var(--icon-color);
  fill: var(--icon-color);
}

.clients-list .item:not(:last-child) {
  margin-right: 30px;
}

.clients-list .icon {
  width: 106px;
  height: 60px;
}

.clients-list .link:hover,
.clients-list .link:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
  border: 1px solid currentColor;
  border-radius: 4px;
}

/* футер */

.footer-list {
  display: flex;
  align-items: baseline;
}
.footer {
  background-color: #2f303a;
}
.footer .logo {
  display: block;
  margin-bottom: 20px;

  color: var(--primary-bgc-color);
  font-family: Raleway, sans-serif;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.78px;
  text-decoration: none;
}
.footer .accent {
  color: var(--accent-color);
}
.footer .address {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
}

.footer-contact-list {
  padding: 0;

  list-style: none;
  text-decoration: none;

  color: var(--primary-bgc-color);
}

.footer .contact {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
  text-decoration: none;

  color: var(--primary-text-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer .contact:hover,
.footer .contact:focus {
  color: var(--accent-color);
}

.footer .title {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  list-style: none;

  color: var(--primary-bgc-color);
}
.footer .link:hover,
.footer .link:focus {
  color: var(--accent-color);
}

.address-list {
  margin-top: 60px;
  margin-bottom: 60px;
  padding-left: 0px;
}

.footer .join {
  margin-top: 72px;
  margin-left: 70px;
  margin-right: 93px;
  margin-bottom: 100px;
  flex-direction: column;
  max-width: 206px;
}

.footer .title {
  margin-bottom: 20px;
  text-align: start;
}

.social-links {
  display: flex;
  width: 206px;
  padding-left: 0px;
  cursor: pointer;
}

.social-links .item {
  display: block;

  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

.social-links .item:not(:last-child) {
  margin-right: 10px;
}

.social-links .link {
  display: block;
  width: 44px;
  height: 44px;
  padding: 12px 12px;
  border-radius: 50%;

  list-style: none;
  text-decoration: none;

  fill: var(--primary-bgc-color);
}

.social-links .logo {
  margin-bottom: 0px;
}

.social-links .link:hover,
.social-links .link:focus {
  background-color: var(--accent-color);
}

.subscript-title {
  color: var(--primary-bgc-color);
}

.subscript-form {
  display: flex;
  align-items: center;
  margin-top: 20px;
  gap: 12px;

  width: 358px;
}

.subscript-button {
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 28px;
  padding-right: 28px;

  border-radius: 4px;
  border: 0px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);

  background-color: var(--accent-color);
  /* border-color: var(--accent-color); */
}

.subscript-icon {
  margin-left: 10px;
}
