.join {
  margin-top: 72px;
  margin-right: 93px;
  flex-direction: column;
  min-width: 206px;
}

.join__title {
  margin-bottom: 20px;
  text-align: start;

  color: var(--primary-bgc-color);
}

.join__social-list {
  display: flex;
  width: 206px;
  padding-left: 0px;
  cursor: pointer;
}

.join__item {
  display: block;

  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;

  &:not(:last-child) {
    margin-right: 10px;
  }
}

.join__link {
  @extend %link;

  display: inline-block;
  width: 44px;
  height: 44px;
  padding: 12px 12px;
  border-radius: 50%;

  fill: var(--primary-bgc-color);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.join__logo {
  margin-bottom: 0px;
}
