.logo {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.78px;

  @extend %link;

  @media screen and (min-width: 1200px) {
    font-size: 26px;
  }
}

.logo--dark {
  color: var(--accent-dark-color);
}

.logo--light {
  color: var(--white-text-color);
}

.header__logo {
  margin-right: 87px;

  @media screen and (min-width: 1200px) {
    margin-right: 92px;
  }
}

.footer_logo--margin-bottom {
  margin-bottom: 20px;
}
