.logo {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.78px;
  text-decoration: none;
}

.logo--dark {
  color: var(--accent-dark-color);
}

.logo--light {
  color: var(--white-text-color);
}

.footer_logo--margin-bottom {
  margin-bottom: 20px;
}
