.subscript__title {
  color: var(--primary-bgc-color);
}

.subscript__form {
  display: flex;
  align-items: center;
  margin-top: 20px;
  gap: 12px;
}

.subscript__email {
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  width: 358px;
  height: 50px;
  outline: transparent;

  background-color: var(--footer-bcg-color);
  color: var(--primary-bgc-color);
}

.subscript__button {
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 28px;
  padding-right: 28px;

  border-radius: 4px;
  border: 0px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;

  color: var(--primary-bgc-color);
  background-color: var(--accent-color);
}
