body {
  background-color: var(--primary-bgc-color);
  color: var(--primary-text-color);
  font-family: roboto, sans-serif;
  letter-spacing: 0.42px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
}
