:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-bgc-color: #ffffff;
  --secondary-bcg-color: #f5f4fa;
  --accent-border-color: #ececec;
  --icon-color: #afb1b8;
  --footer-bcg-color: #2f303a;
  --accent-dark-color: #000000;
  --white-text-color: #ffffff;
  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
