.feature {
  max-width: 1600px;

  @media screen and (max-width: 1199px) {
    @include section($padding-top: 60px, $padding-bottom: 60px);
  }

  @media screen and (min-width: 1200px) {
    @include section($padding-bottom: 0px);
  }
}

.feature__list {
  display: flex;
  flex-direction: column;
  gap: 30px;

  @media screen and (min-width: 768px) {
    flex-wrap: wrap;
    flex-direction: row;
    text-align: start;
  }

  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
  }

  @extend %list;
}

.feature__item {
  @media screen and (min-width: 768px) {
    width: 354px;
    text-align: start;
  }

  @media screen and (min-width: 1200px) {
    width: 270px;
  }
}

.feature__thumb {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  padding: 25px 0;

  background-color: var(--secondary-bcg-color);

  @media screen and (min-width: 768px) {
    @include feature-icon($width: 354px);
  }

  @media screen and (min-width: 1200px) {
    @include feature-icon($width: 270px);
  }
}

.feature__icon {
  width: 70px;
  height: 70px;
}

.feature__title {
  margin-bottom: 10px;

  text-align: center;

  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;

  color: var(--title-text-color);

  @media screen and (min-width: 768px) {
    text-align: start;
  }
}
