.footer {
  max-width: 1600px;

  background-color: var(--footer-bcg-color);

  @include section($padding-top: 60px, $padding-bottom: 60px);
}

.footer--flex {
  display: flex;

  @media screen and (max-width: 767px) {
    flex-direction: column;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-wrap: wrap;
    justify-content: center;
  }

  @media screen and (min-width: 1200px) {
    align-items: baseline;
  }
}

.footer--wrap {
  margin-bottom: 60px;

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: baseline;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 94px;
  }
}

.footer__contact-list {
  display: flex;
  flex-direction: column;

  @media screen and (max-width: 1199px) {
    justify-content: center;
    align-items: center;

    margin-bottom: 60px;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-right: 165px;
  }
}

.footer__address-list {
  @media screen and (max-width: 1199px) {
    text-align: center;
  }

  @media screen and (min-width: 1200px) {
    text-align: start;
    margin-right: 70px;
  }

  @extend %link;
}

.address-item {
  color: var(--title-secondary-color);

  @media screen and (max-width: 1199px) {
    margin-bottom: 8px;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 9px;
  }
}

.address-link {
  @extend %link;

  color: var(--secondary-text-color);

  transition: color var(--animation);

  @media screen and (max-width: 1199px) {
    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }

  @media screen and (min-width: 1200px) {
    &:not(:last-child) {
      margin-bottom: 9px;
    }
  }

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.join {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.join__title {
  margin-bottom: 20px;
  color: var(--title-secondary-color);
}

.join__social-list {
  display: flex;
  margin: 0;
  width: 206px;
  padding-left: 0px;
  cursor: pointer;
}

.join__item {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;

  &:not(:last-child) {
    margin-right: 10px;
  }

  @extend %list;
}

.join__link {
  @extend %link;

  display: inline-block;
  width: 44px;
  height: 44px;
  padding: 12px 12px;
  border-radius: 50%;

  transition: background-color var(--animation);

  fill: var(--secondary-icon-color);

  &:hover,
  &:focus {
    background-color: var(--hover-color);
  }
}

.subscript {
  text-align: center;

  @media screen and (min-width: 1200px) {
    text-align: start;
  }
}

.subscript__title {
  display: inline-block;
  margin-bottom: 20px;
  color: var(--title-secondary-color);
}

.subscript__form {
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
    gap: 12px;
  }
}

.subscript__label {
  color: var(--secondary-text-color);

  transition: border-color var(--animation);

  @media screen and (max-width: 1199px) {
    display: block;
    margin-bottom: 20px;
  }

  @media screen and (min-width: 768px) {
    width: 450px;
  }
}

.subscript__email {
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  width: 100%;
  height: 50px;

  color: inherit;

  outline: transparent;

  background-color: var(--footer-bcg-color);

  &:hover,
  &:focus {
    border-color: var(--hover-color);
  }
}
