.team {
  @extend %section;

  background-color: var(--secondary-bcg-color);
  padding-top: 94px;
}

.team__title {
  @extend %title;

  margin-bottom: 50px;
}

.team__list {
  @extend %list;

  display: flex;
  padding-left: 0px;
  padding-bottom: 94px;
}

.team__item {
  background-color: var(--primary-bgc-color);

  text-align: center;

  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.team__name {
  color: var(--title-text-color);
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.48px;

  margin-top: 30px;
  margin-bottom: 0px;
}

.team__pos {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.48px;

  margin-top: 10px;
  margin-bottom: 16px;
}

.team__thumb {
  display: flex;
  width: 206px;
  height: 44px;
  margin-top: 0px;
  margin-right: 32px;
  margin-left: 32px;
  margin-bottom: 30px;
}

.team__link {
  @extend %link;

  display: block;
  width: 44px;
  height: 44px;
  padding: 12px 12px;
  border-radius: 50%;
  fill: var(--icon-color);

  &:not(:last-child) {
    margin-right: 10px;
  }

  &:hover,
  &:focus {
    background-color: var(--accent-color);
    fill: var(--primary-bgc-color);
  }
}

.team__icon:hover,
.team__icon:focus {
  fill: var(--primary-bgc-color);
}
